.catalogue {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.filters-and-grid {

  @media only screen and (min-device-width : 1024px) {
    display: flex;
    justify-content: space-between;
    animation: entranceCatalogue 2s ease-in-out;
    position: relative;
    padding-top: 4em;
  }

  @keyframes entranceCatalogue {
    0%{
      transform: translateY(400px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }

}
