.catalogue {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.filters-and-grid {
  @media only screen and (min-device-width : 1024px) {
    padding-top:4em;
    display: flex;
    justify-content: space-between;
  }
}
