.list-navigation .watched-series-grid {
  & .series-card {
    width: 220px;
    height: 300px;
    margin: 2rem auto;
    
    &-icons-list {
      left: 90px;
    }

    &-icon-edit-dropdown--open, &-icon-add-dropdown--open, &-icon-delete-dropdown--open {
      width: 220px;
      left: -90px;
    }

    &-icon-edit-dropdown-list-item, &-icon-add-dropdown-list-item, &-icon-delete-dropdown-list-item {
      font-size: 0.8em;
    }

    &-content {
      top: -40px;
    }
  }
}

