.current-series-card-div .series-card {
  height: 400px;
  width: 250px;
  margin: auto;

  @media only screen and (min-device-width : 768px) {
    height: 350px;
    width: 200px;
  }

  @media only screen and (min-device-width : 1440px) {
    margin-right: 30px;
  }

  @media only screen and (min-device-width : 1900px) {
    margin-right: 50px;
  }

  &-icons-list {
    position: relative;
    top: -50px;
    left: 160px;

    @media only screen and (min-device-width : 768px) {
      left: 110px;
    }
  }

  &-icon {
    margin-left: 5px;
  }

  &-content {
    text-align: center;
    position: relative;
    top: -45px;
    margin: 20px;
    padding: 0.2em;
  }

  &-header {
    font-size: 2em;
  }

  &-description {
    font-size: 1.2em;
    position: relative;
    top: -10px;
  }
}

.info-form{
  display: flex;
  justify-content: space-between;

  input{
    cursor: pointer;
    display: flex;
    width: 90px;
    border: 1px lightgray solid;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px 5px 5px 5px;

    &::placeholder{
      font-size: 0.7em;
    }
  }
}
