.series-card-div .series-card {
  height: 500px;
  width: 280px;
  margin: 0 auto;

  &-icons-list {
    position: relative;
    top: -50px;
    left: 150px;
    width: 120px;
  }

  &-icon {
    margin-left: 5px;
  }

  &-content {
    text-align: center;
    position: relative;
    top: -35px;
    margin: 0px 20px;
    padding: 0.2em;
  }

  &-header  {
    font-size: 2em !important;
  }

  &-description {
    font-size: 1.2em;
    position: relative;
    top: -10px;

    &-list-item {
      margin: 0.5em 0;
    }
  }
}

.series-card-div .series-card .series-card-header {
  font-size: 2em;
}
