@use 'src/styles/vars';

.series-card-div .series-card {
  height: 400px;
  width: 280px;
  margin: 0 auto;
  font-family: vars.$textFont;
  border-radius: 15px;

  &-icons-list {
    position: relative;
    top: -50px;
    left: 150px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    color: vars.$backgroundColor;
  }

  &-icon {
    margin-left: 5px;
    cursor: pointer;
    background-color: rgba(6, 39, 70, 0.9);
    border-radius: 10px;
  }
  &-icon:hover{
    background-color: rgba(6, 39, 70, 0.7);
  }

  &-icon-edit-dropdown, &-icon-add-dropdown, &-icon-delete-dropdown {
    display: none;
  }
  
  &-icon-edit-dropdown--open, &-icon-add-dropdown--open, &-icon-delete-dropdown--open {
    display: block;
    background: #FFF;
    border-radius: 5px;
    width: 240px;
    position: absolute;
    bottom: 50px;
    left: -110px;
    z-index:5;
  }

  &-icon-edit-dropdown-list, &-icon-add-dropdown-list, &-icon-delete-dropdown-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding: 0.2em 0;
  }

  &-icon-edit-dropdown-list-item, &-icon-add-dropdown-list-item, &-icon-delete-dropdown-list-item {
    margin: auto;
    text-align: center;
    font-size: 0.9em;
    border: hidden;
    background: none;
    font-family: vars.$textFont;
    color: vars.$darkColor;
    width:100%;
    height:100%;
    padding:0.5rem;
    font-weight:500;
  
  }

  &-icon-edit-dropdown-list-item:hover, &-icon-add-dropdown-list-item:hover, &-icon-delete-dropdown-list-item:hover{
    font-weight: 700;
    background-color: vars.$backgroundColorLight;
    border-radius: 5px;
  }

  &-header {
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
    font-weight: 500;
    font-family: vars.$textFont;
  }
  
  &-header:hover {
    background-color: vars.$backgroundColorLight;
    border-radius:5px;
  }
  
  &-content {
    text-align: center;
    position: relative;
    top: -40px;
    margin: 0px 20px;

    & .info-form {
      display: flex;
      justify-content: space-between;
      margin: 0.5em 0;
      position: absolute;
      top: 70px;
      left: 20px;
    
      input {
        cursor: pointer;
        display: flex;
        width: 90px;
        border: 1px lightgray solid;
        border-radius: 20px;
        padding: 5px 5px 5px 5px;
        font-size: 0.9em;
        text-align: center;
      }
    }
  }

  &-description {
    font-size: 1.1em;
    position: relative;
    top: -10px;
    margin: 1em 0;

    &-list-item {
      margin: 0.5em 0;
    }
  }
}


// header de la card (sélecteurs de Semantic UI pour passer par dessus leurs propriétés)
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1.5em;
  padding: 0.5em 0;
}

.ui.card>.content, .ui.cards>.card>.content {
  padding: 0.5em;
}

a:hover {
  color: #000;
}
