.series-card {
  border: 1px solid #000;
  width: 250px;

  &-image {
    width: 100%;
  }

  &-icons-list {
    position: relative;
    top: -60px;
    left: 150px;
  }

  &-icon {
    margin-left: 5px;
  }

  &-content {
    text-align: center;
    position: relative;
    top: -30px;
  }

  &-header {
    margin-bottom: 20px;
    font-size: 2em;
  }

  &-description {
    font-size: 1.2em;
  }
}
