@use 'src/styles/vars';

.type {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color:#FFF;
  font-weight: 500;
  position:relative;
  bottom:18.3rem;
  // .list-name{
  //   background-color: vars.$darkColor;
  //   border: solid 1px #FFF;
  //   padding: 0.5rem 1rem;
  //   border-radius: 5px;
  //   width: fit-content;
  //   align-items: flex-end;
  // }
  .button{
    background-color: vars.$darkColor;
    border: solid 1px #FFF;
    padding: 0.3rem 0.1rem;
    border-radius: 5px;
    width: 48%;
  }

}
@media only screen and (min-width:768px) {
  .type{
    font-size: 1.2rem;
    justify-content: space-around;
    bottom:18rem;
    .button{
      width:42%;
      padding:0.6rem;
    }
  }
}
