@use 'src/styles/vars';
.home-header-connected{
  border-top: 2px solid vars.$darkColor;
  border-bottom: 2px solid vars.$darkColor;
  padding: 1rem 0rem 1rem;
  margin: 1rem auto;
  width:200px;
  p{
    text-align: center;
    font-weight: 500;
  }
}

@media only screen and (min-width:1200px){
  
}
