@use 'src/styles/vars';

.header{
  padding:1rem;
  font-size: 1.2rem;
  font-weight: 500;
  display:flex;
  justify-content: space-between;
  color: vars.$darkColor;

  
  .left-navbar{
    display: flex;
    width:40%;

    .series-link{
      display:none;
    }

    .series-icon{
      align-self: center;
    }

    .form-display{
      border:none;
      background-color: transparent;
      margin-left: 0.7rem;
      color: vars.$darkColor;
    }

    .form-mobile-element{
      // search bar on mobile that appears onClick
      display: none;
      position:absolute;
      top: 0px;
      left: 0px;
      background-color: #ffffff;
      width:100%;
      height:55px;
      z-index: 1;
      .form-mobile{
        padding: 15px 0;
        margin-left: 1rem;
        padding-left: 1rem;

        .form-mobile-input{
          height:1.7rem;
          border:none;
          width:85%;
          text-align: left;
          font-family: vars.$textFont;
          color:vars.$darkColor;
        }
        input::placeholder{
          font-family: vars.$textFont;
          text-align: left;
        }
      }
      button{
        background-color: transparent;
        border: none;
        position:absolute;
        color: vars.$darkColor;          
      }
    }
    // SearchBar on desktop
    .form{
      display: none;
      button{
        display: none;
      }
    }
  }

  .logo{
    width: 90px;
  }

  .right-navbar{
    display: flex;
    justify-content: flex-end;
    width:40%;

    .list-link{
      display:none;
    }
    .user-account-link{
      margin-left: 1rem;
      color: vars.$darkColor;
      width:30%;
      display:flex;
      .user-name{
        margin-right: 1rem;
        align-self: center;
      }
      .connection{
        margin-right: 1rem;
        align-self: center;

      }
    }

  }
}


@media only screen and (min-width:768px) {
  .header{
    a:hover{
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    .left-navbar{
      width:40%;

      .series-icon{
        align-self: center;
      }
      .form-display{
        display: none;
      }
      .form-mobile-element{
        display: none;
      }

      // SearchBar on large screen
      .form{
        display: inline-block;
        width:85%;
        margin-right:2rem;

        .form-input{
          height:1.7rem;
          border:none;
          border-radius: 5px;
          width:75%;
          font-size: 0.8rem;
          margin-top: 20px;
        }

        input::placeholder{
          font-family: vars.$textFont;
        }

        button{
          color:vars.$darkColor;
          display: inline-block;
          background-color: transparent;
          border: none;
          position:absolute;
          top:30px;
         }
      }
    }
  
    .logo{
      width: 20%;
    }
  
    .right-navbar{
      display: flex;
      justify-content: flex-end;
      align-self: center;
      width:40%;

      .list-icon{
        display:none
      }
      .list-link{
        display: inline-block;
        align-self: center;
      }
      .user-account-link{
        margin-left: 1rem;
        color: vars.$darkColor;

        .user-name{
          display: inline-block;
        }
        .user-name:hover{
          text-decoration: underline;
          text-underline-offset: 3px;
        }
        .user-icon:hover{
          text-decoration: underline;
          text-underline-offset: 3px;
        }

        .connection{
          // display: inline-block;
        }

      }
    }
  }
}


@media only screen and (min-width:1114px) {
  .header{
    a:hover{
      text-decoration: underline;
      text-underline-offset: 3px;
      // border-bottom: 1px solid vars.$darkColor;
    }
    .left-navbar{
      justify-content: space-between;
      align-self: center;

      .series-link{
        display: inline-block;
        width:30%;
        margin:auto
      }
      .series-icon{
        display: none;
      }

      .form{
        .form-input{
          height:1.7rem;
          border:none;
          border-radius: 5px;
          width:75%;
          font-size: 0.8rem;
          margin-top: 20px;
        }
        button{
          position:absolute;
        }
      }
    }
  }
}

@media only screen and (min-width:1650px) {
  .form{
    button{
      bottom:800px;
    }
  }
}

@media only screen and (min-width:2050px) {
  .form{
    button{
      bottom:690px;
    }
  }
  .right-navbar{
      .login-form{
        width:300px;
      }
  }
}

@media only screen and (min-width:2300px) {
  .form{
    button{
      bottom:680px;
    }
  }
}

@media only screen and (min-width:2450px) {
  .form{
    button{
      bottom:670px;
    }
  }
}

